<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test Filter">
		<classes>
			<class name="test.TestFilter2">
				<methods>
					<include name="filterGift2" />
				</methods>
			</class>
			<!--<class name="test.TestFilter"> <methods> <include name="filterGift" 
				/> </methods> </class> -->

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
